{% extends "shop/base.html" %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <h1>结帐</h1>

    <div class="order-info">
    <h3>您的订单</h3>
    <ul>
        {% for item in cart %}
            <li>
            {{ item.quantity }}x {{ item.product.name }}<br>
            ￥{{ item.total_price }}
            </li>
        {% endfor %}
    </ul>
    <p>Total: ￥{{ cart.get_total_price }}</p>
    </div>

    <form action="." method="post" class="order-form">
    {{ form.as_p }}
    <p><input type="submit" value="提交订单"></p>
    {% csrf_token %}
    </form>
{% endblock %}