{% extends "shop/base.html" %}

{% block title%}重置您的密码{% endblock %}

{% block content %}
    <h1>重置您的密码</h1>
{#    {% if validlink %}#}
        <p>请输入两次新密码:</p>
        <form action="." method="post">
            <label>新密码</label>
            {{ form.new_password1 }}
            <label>确认密码</label>
            {{ form.new_password2 }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"></p>
        </form>
{#    {% else %}#}
{#        <p>The password reset link was invalid, possibly because it has already been used.#}
{#           Please request a new password reset.#}
{#        </p>#}
{#    {% endif %}#}
{% endblock %}